<template>
  <div>
    <div>
      {{msg}} 
    </div>
    <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateForm">
      <md-card class="md-flex-50 md-flex-small-100">
        <md-card-header>
          <div class="md-title">Patient</div>
        </md-card-header>

        <md-card-content>
          <!-- <div class="md-layout-row md-layout-wrap md-gutter"> -->
            <!-- <div class="md-flex md-flex-small-100"> -->
              <md-field :class="getValidationClass('firstName')">
                <label for="first-name">First Name</label>
                <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="patient.firstName" :disabled="sending" />
                <span class="md-error" v-if="!$v.patient.firstName.required">The first name is required</span>
                <span class="md-error" v-else-if="!$v.patient.firstName.minlength">Invalid first name</span>
              </md-field>
            <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="md-layout-row md-layout-wrap md-gutter"> -->

            <!-- <div class="md-flex md-flex-small-100"> -->
              <md-field :class="getValidationClass('lastName')">
                <label for="last-name">Last Name</label>
                <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="patient.lastName" :disabled="sending" />
                <span class="md-error" v-if="!$v.patient.lastName.required">The last name is required</span>
                <span class="md-error" v-else-if="!$v.patient.lastName.minlength">Invalid last name</span>
              </md-field>
            <!-- </div> -->
          <!-- </div> -->

              <md-field>
                <label for="insurance-name">Insurance name</label>
                <md-input name="insurance-name" id="insurance-name" v-model="patient.insuranceName" :disabled="sending" />
              </md-field>

              <md-field>
                <label for="insurance-id">Insurance Id</label>
                <md-input name="insurance-id" id="insurance-id" v-model="patient.insuranceId" :disabled="sending" />
              </md-field>

          <!-- <div class="md-layout-row md-gutter md-layout-wrap"> -->
            <!-- <div class="md-flex md-flex-small-100"> -->
              <!-- <md-field :class="getValidationClass('gender')">
                <label for="gender">Gender</label>
                <md-select name="gender" id="gender" v-model="patient.gender" md-dense :disabled="sending">
                  <md-option></md-option>
                  <md-option value="M">M</md-option>
                  <md-option value="F">F</md-option>
                </md-select>
                <span class="md-error">The gender is required</span>
              </md-field> -->
            <!-- </div> -->

            <!-- <div class="md-flex md-flex-small-100"> -->
              <!-- <md-field :class="getValidationClass('age')">
                <label for="age">Age</label>
                <md-input type="number" id="age" name="age" autocomplete="age" v-model="patient.age" :disabled="sending" />
                <span class="md-error" v-if="!$v.patient.age.required">The age is required</span>
                <span class="md-error" v-else-if="!$v.patient.age.maxlength">Invalid age</span>
              </md-field> -->
            <!-- </div> -->
          <!-- </div> -->

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="patient.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.patient.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.patient.email.email">Invalid email</span>
          </md-field>

            <md-field>
            <label for="phone">Phone #</label>
            <md-input name="phone" id="phone" v-model="patient.phone" :disabled="sending" />
            </md-field>

            <md-field>
            <label for="comment">Registration comment</label>
            <md-textarea name="comment" id="comment" md-autogrow v-model="patient.regComment" :disabled="sending" />
            </md-field>

        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Add</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar md-position="left" :md-active.sync="patientAdded">The patient was added successfully!</md-snackbar>
    </form>    
  <div>
         
  </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import {
  required,
  email,
  minLength,
  maxLength
} from "vuelidate/lib/validators";

export default {
  name: "PatientAdd",
  mixins: [validationMixin],
  data() {
    return {
      msg: "Patient form page",
      patient: {
          firstName: null
      },
      sending: false,
      patientAdded: false
    };
  },
  methods: {
    validateForm() {
      console.log("Validating form...");
        // this.$v.$touch();

        // if (!this.$v.patient.$invalid) {
          this.addingPatient();
        // }
    },

    addingPatient() {
        console.log("Adding patient...");
        this.sending = true;

        this.$store.dispatch('addPatient', this.patient).then (() => {
            this.patientAdded = true;
            setTimeout(() => {
                this.sending = false;            
                this.$router.push('/')
            }, 4001 )
        });

        // this.$store.commit(types.ADD_PATIENT, this.patient);
    },

    getValidationClass(fieldName) {
      const field = this.$v.patient[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    }
  },
  validations: {
    patient: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required,
        minLength: minLength(3)
      },
      age: {
        required,
        maxLength: maxLength(3)
      },
      gender: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  created() {
    console.log("PatientAdd comp is created... ");
  },
  destroyed() {
    console.log("PatientAdd destroyed()...");
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
