<template>
  <div>
  <div>
    <md-card class="card">
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">{{ patients[0].firstName + " " + patients[0].lastName + " (" + patients[0].id + ")" }}</div>
          <div class="md-subhead">{{patients[0].insuranceName}}</div>
        </md-card-header-text>

        <md-menu md-size="big" md-direction="bottom-end">
          <md-button class="md-icon-button" md-menu-trigger>
            <md-icon>more_vert</md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item @click="doACall">
              <span>Call</span>
              <md-icon>phone</md-icon>
            </md-menu-item>

            <md-menu-item @click="sendMessage">
              <span>Send a message</span>
              <md-icon>message</md-icon>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-header>

      <md-card-content>
        <div><strong>Insurance Id</strong> {{patients[0].insuranceId}}</div>
        <div><strong>Email</strong> {{patients[0].email}}</div>
        <div><strong>Phone</strong> {{patients[0].phone}}</div>
        <div><strong>Registration Notes</strong> {{patients[0].regComment}}</div>
      </md-card-content>

      <md-card-actions md-alignment="left">
        <md-button>CHECK-IN</md-button>
        <md-button>UPDATE</md-button>
      </md-card-actions>
    </md-card>      
  </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import * as types from '../store/mutation-types';

export default {
  name: 'PatientDetail',
  computed: {
    ...mapGetters ({
      patients: 'filterPatients'
    }),
    filter: {
      get() {
        return this.$store.state.filter.value
      },
      set(filter) {
        this.$store.commit(types.APPLY_FILTER, {field: 'id', value: filter});
      }
    }
  },  
  data () {
    return {
      msg: 'Patient detail page'
    }
  },
  methods: {
    doACall () {
      console.log("Calling patient...");
    },

    sendMessage() {
      console.log("Sending message to patient...");
    },


  },
  created () {
      console.log("PatientDetail comp is created... " + this.$route.params.id);
      this.filter = this.$route.params.id;
      console.log("Patients: " + this.patients.length);
      console.log(this.patients);
  },
  destroyed () {
    console.log("PatientDetail destroyed()...");
    this.filter = null;
  }  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card {
    max-width: 400px;
    margin: 10px;
    align-self: center;
  }
</style>
