
<template>
  <div class="table-container">
    <md-button to="/add" class="md-dense md-raised md-primary add">Add Patient</md-button>
    <md-table v-model="patients" md-sort="name" md-sort-order="desc" md-card md-fixed-header>
      <md-table-toolbar>
        <md-field md-clearable class="md-toolbar-section-start filter">
          <md-input placeholder="Search by first name..." v-model="search" @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single" @md-selected="onSelect">
          <md-table-cell md-label="Patient Id" md-sort-by="id" md-numeric>{{ item.id}}</md-table-cell>
          <md-table-cell md-label="First Name" md-sort-by="firstName">{{ item.firstName }}</md-table-cell>
          <md-table-cell md-label="Last Name" md-sort-by="lastName">{{ item.lastName }}</md-table-cell>
          <md-table-cell md-label="Insurance" md-sort-by="insuranceName">{{ item.insuranceName }}</md-table-cell>
          <md-table-cell md-label="Insurance Id" md-sort-by="insuranceId">{{ item.insuranceId }}</md-table-cell>
          <md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
          <md-table-cell md-label="Phone" md-sort-by="phone">{{ item.phone }}</md-table-cell>
          <md-table-cell md-label="Comment" md-sort-by="regComment">{{ item.regComment }}</md-table-cell>
        </md-table-row>
    </md-table>
    <div>
      TODO: Pagination is not implemented in md-table component yet.
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as types from '../store/mutation-types'
import 'vue-material/dist/vue-material.min.css'


 const toLower = text => {
    return text.toString().toLowerCase();
  }

  const searchByName = (items, term) => {
    if (term) {
      return items.filter(item => toLower(item.firstName).includes(toLower(term)));
    }
    return items;
  }

export default {
  name: 'PatientSearch',
  computed: {
    ...mapGetters ({
      patients: 'filterPatients'
    }),
    filter: {
      get() {
        return this.$store.state.filter.value
      },
      set(filter) {
        this.$store.commit(types.APPLY_FILTER, filter)
      }
    }
  },  
  data: () => ({
      search: null,
      _patients: null,
      msg: 'Welcome to Your Vue.js App',
      searched:[],
    }),
  methods: {
    searchOnTable () {
      this.filter = {field: 'firstName', value: this.search};
    },

    onSelect (item) {
      if (item) {
        console.log("Navigating to patient detail page: " + item.firstName + " " + item.lastName);
        this.$router.push('/patient/' + item.id);
      }
    },

  },
  created () {
    console.log("PatientSearch created() getting all patients...");
    this.$store.dispatch('getAllPatients').then (() => {
      this._patients = this.patients;
      console.log("this._patients");
      console.log(this._patients);
    });
  },
  destroyed () {
    console.log("PatientSearch destroyed()...");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
  .filter {
    max-width: 300px;
  }

  .table-container {
    max-height: 100px;
  }
</style>
